<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Warframe Text Alerts</h1>
    <p>This is a sample application I made that sends me a text message when certain items become available in the video game Warframe..</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.warframe.com/"><span class="glyphicon glyphicon-flash"></span>What is Warframe?</a>
  </div>
</div>
<div class="container">
  <!--
  <div class="alert alert-info text-center" role="alert">
    Lorem Ipsum
  </div>
  <hr>-->
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Items Being Watched</h3>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Last Alert Sent</h3>

      <div id="latestTweet">
      </div>

    </div>
  </div> <!-- row -->
  <div class="alert alert-info text-center" role="alert">
      Placeholder Text
  </div>
</div>

</body>

<script>
  var socket = io.connect('https://warframe-texter-alerts.herokuapp.com/');
  socket.on('displayedTweetHTML', function(data){
    $('#latestTweet').text(data).html();
  });
</script>

</html>
